:root {
  --primary-color: #ffffff; /* white */
  --secondary-color: #000000; /* black */
  --bg-image: url('/assets/BG.jpg');
  --border-radius: 0;
  --spacing: 0;
  --font-size: 5vh;
  --line-height: 1.2;
  --font-style: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding-top: 20vh; /* add some space at the top */
}

.App {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* set minimum height to 100vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.hidden {
  display: none;
}

h1, .burn-amount, p {
  text-align: center;
  margin: var(--spacing) 0;
  letter-spacing: 0.05em;
  font-size: inherit;
  font-style: var(--font-style);
  background-color: transparent;
  padding: 0;
  border-radius: var(--border-radius);
  line-height: var(--line-height);
  text-transform: uppercase;
  color: var(--secondary-color);
  border: none;
  box-shadow: none;
}

.burn-amount span {
  color: var(--primary-color);
}

h1:hover, .burn-amount:hover, p:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  h1, .burn-amount, p {
    font-size: 4vh;
    padding: 0 calc(var(--spacing) * 2);
  }
}

@media (max-width: 576px) {
  h1, .burn-amount, p {
    font-size: 3vh;
    padding: 0;
    border-width: 0;
  }
}
